#calculator 
{
            width: 400px;
            height: 500px;
            margin: auto;
            border: 1px solid black;
            padding: 20px;
            text-align: center;
            background-color: lightgray;
            margin-top: 2.8cm;
        }
input[type="text"] {
            width: 60%;
            height: 50px;
            font-size: 18px;
            text-align: right;
            margin-bottom: 20px;
        }

        input[type="button"] {
            width: 70px;
            height: 70px;
            font-size: 18px;
            margin-right: 10px;
            margin-bottom: 20px;
        }
        body{
            background-color:darkgray;
        }
